body {
  width: 100wh;
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  scroll-behavior: smooth;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#active{
  background-color: red;
}
#nactive{
  background-color: blue;
}

#example1 {
  height: 50vh;
  width: 50vw;
  background:url("../images/random.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}